<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
				<div class="navbar-header page-scroll">
						<a class="navbar-brand" href="#page-top"><p class="brand">HemophiliApp</p></a>
				</div>
		</div>
</nav>

<section id="portfolio" class='background-img'>
		<div class="container welcomeInfo">
				<div class="row">
					<h2 class="homePage" id="welcomeMessage">Welcome to HemophiliApp!</h2>
					<h3 class= "homePage">The Bleeding Edge of Hemophilia Care</h3>
					<br>
					<a href="/auth/google" class='btn getStarted btn-lg'>Get Started</a>
						<div class="col-lg-12 text-center">
								<h3 class="homePage">Hemo App is a tool for bringing patients with Hemophilia together with their medical providers.</h3>
								<hr>
								<h4 class="homePage">Enter your bleeds online, take control of your care and get back to life, knowing  your hemophilia team is always kept up to date.</h4>
						</div>
				</div>
		</div>
</section>
