<h2>Hello, {{ googleUser.displayName }}.</h2>
{{#each googleUser.photos}}<img src="{{ value }}" alt="userPhoto">{{/each}}
<!-- {{#each googleUser.emails}} {{ value }} {{/each}} -->
<a href="/nurse" class='button'>Home</a> |
<a href="/logout" class='button'>Log Out</a>
