<h3>{{user.displayName}}, please fill out remaining information! Thank you.</h3>

<form method="POST" action="/profile">
  <!-- Birthday -->
  <span class='profile'>
    <label for='birthdate'>Birthdate: </label>
    <input type='date' name='birthday' id='birthday'>
  </span>

  <!-- Nurst/Patient -->
  <span class='profile'>
    <label for='userType'>Are you a nurse or a patient?</label>
      Nurse:
      <input type="radio" name="permission" value="true">
      Patient:
      <input type="radio" name="permission" value="false">
  </span>

  <!-- Hidden user.id -->
  <input type="hidden" name="userId" value="{{user.id}}">

  <!-- Diagnosis -->
  <span class='profile'>Diagnosis:
    <select name="diagnosis">
      <option value="1">Hemophelia A</option>
      <option value="2">Hemophelia B</option>
      <option value="3">Von Willebrand</option>
      <option value="4">Rare Bleeding Disorder</option>
    </select>
  </span>

  <!-- Medicine -->
  <span class='profile'>Medicine:
    <select name="medicine">
      <option value="1">Stimate</option>
      <option value="2">Amicar</option>
      <option value="3">Advate</option>
      <option value="4">Rixubus</option>
      <option value="5">Elcotate</option>
    </select>
  </span>

  <!-- Telephone -->
  <span class='profile'>
    <input type="text" name="telephone" placeholder="123-444-5555">
  </span>
  
  <!-- Submit -->
  <input type="submit" class="button" value="Submit">

</form>
