<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
						<span class="navbar-brand" href="#page-top"><p class="brand">
							HemophiliApp
						</p></span>
				</div>
		</div>
</nav>

<section id="portfolio">
		<div class="container">
				<div class="row">
					<!-- Displayname -->
          <h3 class = "profileIntro">{{user.displayName}}, please fill out remaining information! Thank you.</h3>

          <form class="profileForm" method="POST" action="/profile">

						<!-- Nurst/Patient -->
						<span class='profile'>
							<label for='userType'>Are you a patient or a provider?</label>
								<div class="permissionRadio">
									Patient:
									<input type="radio" id='patientselect' name="permission" value="false">
									Provider:
									<input type="radio" id='providerselect' name="permission" value="true">
								</div>
						</span>

						<span class='profile providerpassword' id="patientInformation">
							<label for="providerpassword">Enter Provider Access Code Here:</label>
							<input type="text" id='providerpassword' name="providerpassword" value="">&nbsp;&nbsp;&nbsp;
							<span id='check-mark' class='glyphicon glyphicon-ok'></span>
						</span>

            <!-- Birthday -->
            <span class='profile' id='birthdayForm'>
              <label for='birthdate'>Birthday: </label>
              <input type='date' name='birthday' id='birthday'>
            </span>

						<!-- Telephone -->
						<span class='profile'>
							<label for="telephone">Phone number:</label>
							<input type="text" name="telephone" placeholder="123-444-5555" id="telephone">
						</span>

            <!-- Hidden user.id -->
            <input type="hidden" name="userId" value="{{user.id}}">

            <!-- Diagnosis -->
            <span class='profile patientinfo' id="patientInformation">Diagnosis:
              <select name="diagnosis" id="diagnosis">
                <option value="1">Hemophilia A</option>
                <option value="2">Hemophilia B</option>
                <option value="3">Von Willebrand</option>
                <option value="4">Rare Bleeding Disorder</option>
              </select>
            </span>

            <!-- Medicine -->
            <span class='profile patientinfo' id="patientInformation">Medicine:
              <select name="medicine" id="medicine">
                <option value="1">Stimate</option>
                <option value="2">Amicar</option>
                <option value="3">Advate</option>
                <option value="4">Rixubus</option>
                <option value="5">Elcotate</option>
              </select>
            </span>

            <!-- Submit -->
            <input type="submit" class="btn button" id="profilesubmit" value="Submit">

          </form>
        </div>
      </div>
    </section>
