<h3>{{user.displayName}}, please fill out remaining information! Thank you.</h3>

<form method="POST" action="/profile">
  <span class='profile'>
    <label >Birthdate</label>
    <input type='date' name='birthday'value = 'birthday'/>
  </span>
  <span class='profile'>
    <label>Email Address</label>
    <input type='text' name='email'value = 'email'/>
  </span>
  <span class = 'userTypeLabel'>
  <label >Are you a nurse or a patient?<br>
  </span>
    <span id = 'userType'class='profile'>
      Nurse:
      <input type="radio" name="permission" value="true">

    </span>
    <span id = 'userType' class='profile'>
      Patient:
      <input type="radio" name="permission" value="false">
    </span>
    <input type="hidden" name="userId" value="{{user.id}}">
  </label>
  <span class = 'profile'>Diagnosis
        <select name="diagnosis">
          <option value="option1">Option1</option>
          <option value="option2">Option2</option>
          <option value="option3">Option3</option>
        </select>
        </span>
        <span class= 'profile'>Medicine
          <select name="diagnosis">
            <option value="med1">Med1</option>
            <option value="med2">Med2</option>
            <option value="med3">Med3</option>
          </select>
              </span>
<input type="submit" class="button" value="Submit">
</form>
