<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<!-- <div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button> -->
						<a class="navbar-brand" href="#page-top"><p class="brand">
							HemophiliApp
						</p></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
								<li class="hidden">
										<a href="#page-top"></a>
								</li>
								<li class="page-scroll">
										<a href="#portfolio">Portfolio</a>
								</li>
								<li class="page-scroll">
										<a href="/logout" class='button'>Log Out</a>
								</li>
						</ul>
				</div> -->
				<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
</nav>

<section id="portfolio">
		<div class="container">
				<div class="row">

          <h3 class = "profileIntro">{{user.displayName}}, please fill out remaining information! Thank you.</h3>

          <form class="profileForm" method="POST" action="/profile">
            <!-- Birthday -->
            <span class='profile'>
              <label for='birthdate'>Birthday: </label>
              <input type='date' name='birthday' id='birthday'>
            </span>

						<!-- Telephone -->
						<span class='profile'>
							<label for="telephone">Please enter your phone number:</label>
							<input type="text" name="telephone" placeholder="123-444-5555" id="telephone">
						</span>

            <!-- Nurst/Patient -->
            <span class='profile'>
              <label for='userType'>Are you a patient or a provider?</label>
								<div class="permissionRadio">
									Patient:
									<input type="radio" id='patientselect' name="permission" value="false">
	                Provider:
	                <input type="radio" id='providerselect' name="permission" value="true">
								</div>
            </span>

            <!-- Hidden user.id -->
            <input type="hidden" name="userId" value="{{user.id}}">

            <!-- Diagnosis -->
            <span class='profile patientinfo' id="patientInformation">Diagnosis:
              <select name="diagnosis" id="diagnosis">
                <option value="1">Hemophilia A</option>
                <option value="2">Hemophilia B</option>
                <option value="3">Von Willebrand</option>
                <option value="4">Rare Bleeding Disorder</option>
              </select>
            </span>

            <!-- Medicine -->
            <span class='profile patientinfo' id="patientInformation">Medicine:
              <select name="medicine" id="medicine">
                <option value="1">Stimate</option>
                <option value="2">Amicar</option>
                <option value="3">Advate</option>
                <option value="4">Rixubus</option>
                <option value="5">Elcotate</option>
              </select>
            </span>

						<span class='profile providerpassword' id="patientInformation">
							<label for="providerpassword">Enter Provider Access Code Here:</label>
							<input type="text" id='providerpassword' name="providerpassword" value="">
						</span>

            <!-- Submit -->
            <input type="submit" class="button" id="profilesubmit" value="Submit">

          </form>

        </div>
      </div>
    </section>
