body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 75px;
  width: 75px;
  border-radius: 5px;
  -webkit-box-shadow: -3px 5px 13px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: -3px 5px 13px 1px rgba(0,0,0,0.58);
  box-shadow: -3px 5px 13px 1px rgba(0,0,0,0.58);
}

/* Profile Form Page*/
form {
  font-size: 16px;
}

#userType {
  padding: 1px;
  padding-left: 10px;
  font-size: 14px;
}
.profile {
  display: block;
  padding: 10px;
}

.userTypeLabel {
  padding-left: 10px;
  padding-bottom: 20px;
  /*font-size: 18px;*/
}

/*Patient Page Styling*/

header {
  height: 10vh;
  width: 100vw;
  background-color: maroon;
}

.modal-content {

}

.bleed {
  display:flex;
  justify-content: space-between;
}

.bleedList {
  height: 35vh;
  overflow-y: scroll;
}

ul {
  list-style-type: lower-roman;
  text-align: left;
}

/* Sections */
#portfolio {
  min-height: 500px;
}

.modal-backdrop {
  z-index: -1;
}
#about {
  min-height: 500px;
}

#contact {
  min-height: 500px;
}

.patientinfo {
  display: none;
}

.providerpassword {
  display: none;
}

#action_needed {
  display: none;
}

/* Nurse Page */

.all-bleeds {
  list-style-type: none;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-box-shadow: -3px 5px 13px 5px rgba(0,0,0,0.35);
  -moz-box-shadow: -3px 5px 13px 5px rgba(0,0,0,0.35);
  box-shadow: -3px 5px 13px 5px rgba(0,0,0,0.35);
  height: 300px;
  margin: 45px;
}

.all-bleeds-ul {
  padding: 0;
}

.user-photo {
  margin: 15px;
}
