body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 75px;
  width: 75px;
  border-radius: 5px;
  -webkit-box-shadow: -3px 5px 13px 1px rgba(0,0,0,0.58);
  -moz-box-shadow: -3px 5px 13px 1px rgba(0,0,0,0.58);
  box-shadow: -3px 5px 13px 1px rgba(0,0,0,0.58);
}

/* Profile Form Page*/
form {
  font-size: 16px;
}

#userType {
  padding: 1px;
  padding-left: 10px;
  font-size: 14px;
}
.profile {
  display: block;
  padding: 10px;
}

.userTypeLabel {
  padding-left: 10px;
  padding-bottom: 20px;
  /*font-size: 18px;*/
}

/*Patient Page Styling*/

/*.all-bleeds {
  box-shadow: 0px 3px 5px #888888;
  margin: 2vh 0vh;
  margin-left: -7vw;
  padding: 5px 0px 0px 5px;
  width: 80vw;
  height: 12vh;
  display: flex;
}*/

@media(max-width:600px) {
  .nurseInfo {
    width:90vw;
  }
  #bleedUserPhoto {
    display: none;
  }
  #bleedFirstName, #bleedLastName, #bleedEventDate, #bleedDescription, #eventSettled {
    font-size: 3vw;
  }
  #bleedFirstName, #bleedLastName, #bleedEventDate, #bleedDescription {
    width: 15vw;
  }
  #bleedLastName {
    margin-top: -1vh;
  }
  .eventDate {
    margin-top: 3vh;
  }
}

#eventSettled {
  background-color: hsla(357,100%,26%, 0.3);
  margin-right: 2vw;
}

.allEventsButtonContainer {
  display: flex;
  justify-content: center;
}

.bleed, .all-bleeds {
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 5px #888888;
  margin: 2vh 0vh;
  margin-left: -7vw;
  padding: 5px 0px 0px 5px;
  width: 80vw;
  height: 12vh;
}

.bleed:first-child{
  margin-bottom: 10vh;
}

.bleedList, .all-bleeds-ul{
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
}
.all-bleeds-ul {
  margin-top: -10vh;
}

ul {
  list-style-type: lower-roman;
  text-align: left;
}

.red {
  color: red;
}

/* Sections */
#portfolio {
  height:83vh;
  min-height: 500px;
}

.background-img {
  background-image: url('../images/office.jpg');
  background-size: cover;
  text-shadow: 2px 2px 2px #ababab;
}

@media(max-width: 768px) {
  .background-img {
    background-image: none;
    text-shadow: .5px .5px 1px #ababab;
  }
}

.modal-backdrop {
  z-index: -1;
}
#about {
  min-height: 500px;
}

#contact {
  min-height: 500px;
}

.patientinfo {
  display: none;
}

#patientInformation {
  display:none;
}

.providerpassword {
  display: none;
}

#action_needed {
  display: none;
}

/* Nurse Page */

/*.all-bleeds {
  list-style-type: none;
  border: 2px solid black;
  border-radius: 8px;
  -webkit-box-shadow: -3px 5px 13px 5px rgba(0,0,0,0.35);
  -moz-box-shadow: -3px 5px 13px 5px rgba(0,0,0,0.35);
  box-shadow: -3px 5px 13px 5px rgba(0,0,0,0.35);
  height: 300px;
  margin: 45px;
}

.all-bleeds-ul {
  padding: 0;
}*/

.user-photo {
  margin: 15px;
}

/* Footer */

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-above {
  display: flex;
  height: 10vh;
  align-items: center;
}
.footer-below {
  height: 5vh;
}

.welcomeInfo {
  margin-top: -10vh;
}

.navbar {
  max-height: 10vh;
  display: flex;
  align-items: center;
  background-color: hsl(357,100%,26%);
  position: fixed;
  top: 0;
  width: 100vw;
}



.brand {
  color: white;
  font-size: 4vh;
}

h2 {
  font-size: 5vmin;
}
h3 {
  font-size: 4vmin;
}

h4 {
  font-size: 3vmin;
}


@media(max-width:585px) {
  h4 {
    font-size: 4vmin;
  }
}

@media(max-width:1000px) {
  .social {
    display: none;
  }
  .footer-col {
    width:45vw;
    font-size: 3vh;
  }
  .footer-above{
    height: 8vh;
  }
}



.getStarted, #addBleedingEvent, #viewAllBleedingEvents{
  background-color: hsla(357,100%,26%, 0.8);
  color: white;
  text-shadow: none;
}

ul {
  list-style: none;
}
@media(max-width:850px) {
  .userGreeting {
    display: flex;
    font-size: 2vmin;
    margin-top: 5vw;
  }
  .profilePicture {
    margin: 0vw 5vw;
  }
  .patientInfo {
    margin-top: 5vh;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.addevent {
  display: flex;
  flex-direction: column;
}

.radioContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

#prioritize {
  margin: 0 2vw;
}

.patientHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-between;*/
}

@media(min-width:768px) {
  .patientHeader {
    flex-direction: row;
    justify-content: space-between;
  }
  .leftHeader, .rightHeader {
    width: 40vw;
  }
  .leftHeader {
    display: flex;
    justify-content: flex-start;
  }
  .rightHeader {
    display: flex;
    justify-content: flex-end;
  }
}

.logOutButton {
  color: white;
  text-decoration: underline;
}

.rightHeader {
  margin-bottom: 2vh;
}

.eventDate {
  margin-left: 4vw;
  font-size: 2vw;
  width:25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editDeleteContainer {
  margin-right: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventDescription {
  margin-left: -5vw;
  font-size: 2vw;
  width:25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:600px) {
  .footer-col {
    width:45vw;
    /*font-size: 2vh;*/
  }

  .eventDate {
    font-size: 4vw;
  }

  .eventDescription {
    font-size: 4vw;
  }
}
.editDeleteButton {
  background-color: hsla(357,100%,26%, 0.3);
  margin-bottom: 5px;
  width:inherit;
}

#addBleedingEvent {
  margin: -5vh 0vh 3vh 0vh;
}

.profileForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileIntro {
  margin-top: -15vh;
}

#birthday, #diagnosis, #medicine, #telephone, #providerpassword {
  border: 1px solid black;
  text-align: right;
}

#telephone {
  text-align: center;
}

.all-bleeds {

}

.nurseInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

@media(max-width:768px){
  .nurseInfo {
    margin-left: 5vw;
  }
  #nurseAlert {
    font-size: 4vw;
  }
}

.userGreeting {
  position: fixed;
  top: 10vh;
  background-color: white;
  z-index: 99;
  margin-top: 0vh;
  padding-top: 5vh;
}

.patientInfo {
  margin-top: 20vh;
}
